@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,900&family=Gulzar&family=Lato:wght@100&family=Nunito&family=Open+Sans:wght@700&family=Poppins:ital,wght@0,600;1,600&family=Raleway:wght@600&family=STIX+Two+Text:ital,wght@0,400;1,500&family=Saira&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,900&family=Gulzar&family=Lato:wght@100&family=Montserrat:wght@400;500&family=Nunito&family=Open+Sans:wght@700&family=Poppins:ital,wght@0,600;1,600&family=Raleway:wght@600&family=STIX+Two+Text:ital,wght@0,400;1,500&family=Saira&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --red: #da4533;
  --black-dark: #1b1b1b;
  --grey: #5c5c5c;
  --light-grey: #8a8a8a;
  --white: #fff;
}
body{
  background-color: #000;
}
@media (max-width: 360px) {
  .container {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }
  .site-head__start {
    max-width: 360px;
    width: 100%;
    margin-top: 100px;
    background-color: #000;
  }
  .site-head__nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--black-dark);
  }
  .site {
    width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-head__tel {
    display: none;
  }
  .site-head__nav-link {
    display: none;
  }
  .site-head__img-oval img {
    display: none;
  }
  .none {
    display: none;
  }
  .inp {
    display: none;
  }
  label {
    z-index: 100;
  }
  .div-nav {
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:var(--grey);
    top: 0;
    right: -100%;
    transition: 0.5s;
  }
  #burger:checked ~ .div-nav {
    right: 0;
  }
  .div-nav{
    display: flex;
    justify-content: space-between;
  }
  .menu-bar{
    display: flex;
    width: 322px;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin-left: 38px;
    padding-left: 25px;
    background-color: var(--black-dark);
    overflow: auto;
  }
  .services{
    display: flex;
    flex-direction: column;
  }
  .menu{
    font-size: 22px;
    font-family: 'Montserrat';
    text-decoration: none;
    color: var(--white);
    padding-bottom: 10px;
  }
  h6{
    margin-top: 35px;
    color: var(--grey);
    font-size: 16px;
    font-family: 'Montserrat';
  }
  .about-us{
    text-decoration: none;
    margin-top: 15px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
  }
  .sites{
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
  .about-loc{
    font-size: 14px;
  }
  .mt{
    margin-top: 0;
  }
  .email{
    display: flex;
    flex-direction: column;
  }
  .hero{
    width: 360px;
    margin: 0 auto;
  }
  .hero__content{
    width: 320px;
    margin: 0 auto;
  }
  .hero h1{
    color: var(--white);
    font-size: 24px;
    font-weight: 400;
    font-family: STIX Two Text;
    margin-bottom: 30px;
  }
  input{
    width: 320px;
    height: 48px;
    color: var(--white);
    background-color: var(--black-dark);
    border: none;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 14px;
    font-family: "Montserrat";
    outline: none;
  }
  h6{
    color: var(--light-grey);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
  }
  .input-box{
    width: 320px;
    height: 50px;
    position: relative;
  }
  .input-box2{
    margin-top: 7px;
  }
  .icons{
    position: absolute;
    font-size: 18px;
    right: 15px;
    top: 15px;
    color: var(--white);
  }
  .bg-inp{
    background: rgba(255, 255, 255, 0.15);
  }
  .card1{
    width: 320px;
    height: 320px;
    background-color: var(--black-dark);
    border-radius: 8px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .top{
    display: flex;
    justify-content: space-between;
    width: 280px;
  }
  .text{
    border-radius: 0 0 5px 5px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    color: var(--light-grey);
    font-family: 'Montserrat';
    margin-left: -20px;
  }
  .shape{
    margin-top: 18px;
  }
  .subject{
    width: 288px;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Montserrat';
    color: var(--light-grey);
    padding-bottom: 10px;
  }
  .end{
    width: 360px;
    height: 400px;
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .end h2{
    color: var(--white);
    font-family: STIX Two Text;
    font-size: 24px;
    font-weight: 400;
  }
  .text2{
    width: 320px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--white);
    font-family: 'Montserrat';
  }
  .mb{
    margin-bottom: 60px;
  }
  .site-head__ram {
    max-width: 300px;
    width: 100%;
    height: 90px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;
    transform: matrix(0.99, -0.11, 0.11, 0.99, 0, 0);
    transition: 0.5s;
  }
  .site-head__ram:hover {
    transform: none;
  }
  .site-head__button {
    max-width: 300px;
    width: 100%;
    height: 90px;
    background:var(--black-dark);
    border-radius: 50%;
    border: 1px solid #da4533;
    margin-top: -122px;
    margin-bottom: 26px;
    font-size: 16px;
    color: var(--white);
    line-height: 160%;
  }
}











@media (min-width:361) and (max-width: 480px) {
  .container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
  }
  .site-head__start {
    max-width: 4800px;
    width: 100%;
    margin-top: 100px;
    background-color: #000;
  }
  .site-head__nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 0 auto;
    width: 480px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--black-dark);
  }
  .site {
    width: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-head__tel {
    display: none;
  }
  .site-head__nav-link {
    display: none;
  }
  .site-head__img-oval img {
    display: none;
  }
  .none2 {
    display: none;
  }
  input {
    display: none;
  }
  label {
    z-index: 100;
  }
  .div-nav {
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1b1b1b, #1b1b1b), url(image/backgroud_black.png);
    top: 0;
    right: -100%;
    transition: 0.5s;
  }
  #burger:checked ~ .div-nav {
    right: 0;
  }
  .div-nav{
    display: flex;
    justify-content: space-between;
  }
  .empty{
    width: 50px;
    background-color: var(--grey);
  }
  .menu-bar{
    margin: 0 auto;
    width: 250px;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
  .services{
    display: flex;
    flex-direction: column;
  }
  .menu{
    font-size: 22px;
    font-family: 'Montserrat';
    text-decoration: none;
    color: var(--white);
    padding-bottom: 10px;
  }
  h6{
    margin-top: 35px;
    color: var(--grey);
    font-size: 16px;
    font-family: 'Montserrat';
  }
  .about-us{
    text-decoration: none;
    margin-top: 15px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
  }
  .sites{
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
  .about-loc{
    font-size: 14px;
  }
  .mt{
    margin-top: 0;
  }
  .email{
    display: flex;
    flex-direction: column;
  }

}