@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,900&family=Gulzar&family=Lato:wght@100&family=Nunito&family=Open+Sans:wght@700&family=Poppins:ital,wght@0,600;1,600&family=Raleway:wght@600&family=STIX+Two+Text:ital,wght@0,400;1,500&family=Saira&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
:root{
    --red:#DA4533;
    --black-dark:#1b1b1b;
    --grey:#5c5c5c;
    --light-grey:#8a8a8a;
    --white:#fff;
}
@media (max-width:360px) {
    .container{
        max-width: 360px;
        width: 100%;
        margin: 0 auto;
    }
    
    .site-head{
        max-width: 360px;
        width: 100%;
        height: 70px;
        background-color: #1b1b1b;
    }
    .site-head__nav{
        margin: 0 auto;
        max-width: 320px;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .site-head__img{
        max-width: 129px;
        width: 100%;
        height: 30px;
    }
    .fa-bars-staggered{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 28px;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 6px;
    }
    .site-head__hero{
        max-width: 360px;
        width: 100%;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
    }
    .site-head__h3{
        margin-top: 40px;
        color: var(--light-grey);
    }
    .site-head__h1{
        text-align: center;
        font-size: 34px;
        color: var(--white);
        font-family: 'STIX Two Text';
        font-style: normal;
        font-weight: 500;
        padding: 10px 0;
    }
    .site-head__text{
        max-width: 320px;
        width: 100%;
        text-align: center;
        color: var(--light-grey);
        font-size: 17px;
        line-height: 160%;
        margin-bottom: 31px;
    }
    .site-head__ram{
        max-width: 300px;
        width: 100%;
        height: 90px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #FFFFFF ;
        transform: matrix(0.99, -0.11, 0.11, 0.99, 0, 0);
    }
    .site-head__ram:hover{
        transform: none;
        border: none;
    }
    .site-head__button{
        max-width: 300px;
        width: 100%;
        height: 90px;
        background: var(--red);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #DA4533 ;
        margin-top: -90px;
        margin-bottom: 26px ;
        font-size: 16px;
        color: var(--white);
        line-height: 160%;
    }
    .site-head__double-btn{
        display: flex;
        align-items: center;
        justify-content:;

    }
    .site-head__btn{
        max-width: 135px;
        width: 100%;
        height: 42px;
        border-radius: 50%;
        border: 1px solid #da4533;
        color: var(--red);
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fa-right-long{
        margin-right: -50px;
        
    }
}